@media (max-width: 992px) {
  /* Popular Courses Section + FAQ Section */
  .course-section-header p,
  .faq-section-header p {
    width: 80%;
  }
}

@media (max-width: 576px) {
  /* Navbar */
  .header-wrapper .navbar a.navbar-brand {
    font-size: 1.9rem;
  }

  .fa-bars-staggered {
    font-size: 1.7rem;
  }

  /* Slider */
  .carousel-wrapper .carousel-item h1 {
    font-size: 30px;
    line-height: 36px;
  }

  .carousel-wrapper .carousel-item p {
    font-size: 15px;
    line-height: 24px;
    width: 100%;
  }

  /* Popular Courses Section */
  .course-wrapper p {
    font-size: 15px;
  }

  .course-section-header p,
  .faq-section-header p {
    width: 100%;
  }

  .course-wrapper img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
  }
}
